
.nav4  {
    gap: 2vmax;
}

.nav4 > a > svg{
    font-size: 3vmax;
}

.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }

@media screen and (max-width: 600px) {
  
  .speedDial{
    right: 2vmax;
    top: 2vmax;
  }

  .speedDialIcon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  .MuiButtonBase-root{
    width: 45px !important;
    height: 45px !important;
  }

}