
.nav4  {
    gap: 3vmax;
}

.nav4 > a > svg{
    font-size: 2.5vmax;
}

.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }